:root {
    --font : "Open Sans", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
header nav p{
    font-family: var(--font);
    font-weight: 100;
    font-size: 110%;
    font-style: normal;
    display: inline;
    float: right;
    margin-top: 2.4%;
    margin-right: 149.8px;
}
header {
    border-bottom: 0.05px solid #EEEEEE;
    padding-bottom: 20.5px;
}
a {
    text-decoration: none;
    color: #666666;
}
p {
    font-family: var(--font);
    width: 300;
}
a:hover {
    color: #347B3E;
    transform: scale(1.5);
}
.img1 {
    margin-left: 150px;
    padding-top: 20px;
}
.img2 {
    width: 58px;
    height: 45px;
    padding-top: 5px;
}
form {
    font-family: var(--font);

}
h1 {
    font-family: var(--font);
    font-size: 250%;
    display: inline-block;
    margin-left: 12px;
    color: #292929;
}
section {
    margin-left: 150px;
    margin-top: 50px;
    font-size: 300;

}
footer {
    background-color: #292929;
    color: #FFFFFF;
    border-start-end-radius: 40%;
    border-start-start-radius: 40%;
    text-align: center;
    font-weight: 800;
}
.foot {
    color: #FFFFFF;
    font-size: 120%;
}
.acesso {
    font-size: 78%;
    font-weight: 200;
    padding-top: -1px;
}
.key {
    color: #CCCCCC;
    margin-top: 14px;
    font-size: 35px;
    display: inline-block;
}
i {
    color: red;
    position: relative;
    top: -3px
}
form {
    background-color: #F6F6F6;
    border: 1px solid #F6F6F6;
    margin-right: 150px;
    border-radius: 5px;
    margin-top: 35px;
    padding-top: 10px;
}
.user {
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    margin-left: 120px;
}
.user p {
    margin-left: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #666666;
    font-size: 12px;
}
input[type='text'] {
    background-color: #FFFFFF;
    height: 38px;
    margin-left: 5px;
    width: 1030px;
    margin-top: 0.5px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    line-height: 5px;   
    box-sizing: border-box;
    padding: 2px 7.3px;
}
input:focus {
    border: 1px solid #347B3E;
    outline: none;
}
label {
    font-weight: 600;
    font-size: small;
    padding-bottom: 35px;
}
