* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(60, 94, 92);
    /* background-color: #305E5C; */
    width: 100%;
    display: block;
}
.div1{
    margin-left: 150px;
    margin-top: 50px;
    border-left: 3px solid #01FD94;
    display: block;
}
.img1 {
    width: 100px;
    margin-left: 50px;
}
.img2 {
    width: 541px;
    margin-left: 50px;
    margin-top: 49px;
    padding-bottom: 74px;
}
p {
    font-family: "Open Sans", sans-serif;
    color: white;
    /* margin-top: 25px; */
    font-weight: 800;
}
.frase {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 31px;
    font-size: 156%;
    margin-left: 50px;
}
.caixa {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex; 
    float: right;
    margin-right: 150px;
    width: 570px;
    height: 655px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -185px;
}
a{
    font-size: 80%;
    text-decoration: none;
}
a p{
    font-weight: 100;
    float: right;
    margin-top: 10px;
}
.form {
    width: 370px;
    height: 500px;
    margin-top: 45px;
}
.Login {
    font-size: large;
    text-align: center;
    font-size: 188%;
}
.ifrn {
    text-align: center;
    font-size: 100%;
    margin-top: 5px;
    font-weight: 700;
    margin-bottom: 42px;
}
label {
    color: white;
    font-family: "Open Sans", sans-serif;
    display: block;
    font-size: small;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 3px;
}
.senha {
    margin-top: 13px;
    margin-bottom: 2px;
}
.dois {
    width: 367px;
    height: 46.5px;
}
input {
    width: 370px;
    height: 46px;
    border-radius: 5px;
    border: none;
}
button {
    display: block;
    margin-top: 20px;
    width: 370px;
    height: 45px;
    border-radius: 25px;
    background-color: #01FD94;
    color: #18352d;
    border: none;
    font-size: 16px;
    letter-spacing: -1.2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 5;
}