<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link class="icon" rel="icon" href="../static/icone/image.png" >
    <link rel="stylesheet" href="../static/icone/fontawesome/css/all.css">
    <link rel="stylesheet" href="../static/esqueceu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <title>Alterar Senha - SUAP: Sistema Unificado de Administração Pública</title>
</head>
<body>
    <header>
        <nav>
            <a href="/suapLogin/templates/index.html">
                <img class="img1" src="/suapLogin/static/imagens/logo-suap2.svg" alt="">
            </a>
            <a href="https://portal.suap.ifrn.edu.br/">
                <p>SISTEMA UNIFICADO DE ADMINISTRAÇÃO PÚBLICA</p>
            </a>
        </nav>
    </header>
    <section>
        <p class="acesso">ACESSOS</p>
        <i class="fa-solid fa-key key"></i> <h1>Alterar Senha</h1>

        <form action="" method="post">
            <div class="user">
                <label for="user"><i class="fa-solid fa-asterisk fa-2xs"></i> Usuário:</label>
                <input type="text" name="usuario" id="usuario">
                <p>Informe a sua matrícula, caso seja servidor ou aluno, ou o seu CPF.</p>
            </div>
            <div class="cpf">
                <label for="cpf"><i class="fa-solid fa-asterisk fa-2xs"></i> CPF/Passaporte:</label>
                <input type="text" name="cpf" id="cpf">
                <p>Brasileiros ou Naturalizados devem informar o CPF. Estrangeiros devem informar o Passaporte (Formato: BR123456).</p>
            </div>
            <div class="verificacao">
                <label class="veri" for="verificar"><i class="fa-solid fa-asterisk fa-2xs"></i> Verificação:</label>
                <div class="box">
                    <input type="checkbox" name="robo" id="robo">
                    <p class="texrobo">Não sou um robô</p>

                    <!-- <i class="fa-solid fa-rotate-right fa-3x blue"></i> -->
                     <!-- <img src="/suapLogin/static/imagens/reCAPTCHA.png" alt=""> -->
                    <p class="smalltext">reCAPTCHA</p>
                    <p class="small2">Privacidade - Termos</p>
                </div>
            </div>

            <!-- <label class="veri" for="verificar"><i class="fa-solid fa-asterisk fa-2xs"></i> Verificação:</label>   <div class="recaptcha-box">
                <input type="checkbox" id="captcha-checkbox">
                <div class="recaptcha-text">
                  <p>Não sou um robô</p>
                </div>
                <i class="fas fa-shield-alt recaptcha-logo"></i>
                <p class="small-text">reCAPTCHA <br>Privacy - Terms</p>
              </div> -->
        </form>

    
    </section>

    <footer>
        <a href="">
        <p class="foot">^ <br>
            Serviços essenciais
        </p>
    </a>
    </footer>
</body>
</html>