<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link class="icon" rel="icon" href="../static/icone/image.png" >
    <link rel="stylesheet" href="../static/icone/fontawesome/css/all.css">
    <link rel="stylesheet" href="../static/esqueceu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <title>Alterar Senha - SUAP: Sistema Unificado de Administração Pública</title>
</head>
<body>
    <header>
        <nav>
            <a href="/suapLogin/templates/index.html">
                <img class="img1" src="/static/imagens/logo-suap2.svg" alt="">
            </a>
            <a href="https://portal.suap.ifrn.edu.br/">
                <p>SISTEMA UNIFICADO DE ADMINISTRAÇÃO PÚBLICA</p>
            </a>
        </nav>
    </header>
    <section>
        <p class="acesso">ACESSOS</p>
        <i class="fa-solid fa-key key"></i> <h1>Alterar Senha</h1>

        <form action="" method="post">
            <div class="user">
                <label for="user"><i class="fa-solid fa-asterisk fa-2xs"></i> Usuário:</label>
                <input type="text" name="usuario" id="usuario">
                <p>Informe a sua matrícula, caso seja servidor ou aluno, ou o seu CPF.</p>
            </div>
            <label for="cpf"><i class="fa-solid fa-asterisk fa-2xs"></i> CPF/Passaporte:</label>
            <input type="text" name="cpf" id="cpf">
            <p>Brasileiros ou Naturalizados devem informar o CPF. Estrangeiros devem informar o Passaporte (Formato: BR123456).</p>
            <label for="verificar"><i class="fa-solid fa-asterisk fa-2xs"></i> Verificação:</label>


        </form>
    </section>

    <footer>
        <a href="">
        <p class="foot">^ <br>
            Serviços essenciais
        </p>
    </a>
    </footer>
</body>
</html>