<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link class="icon" rel="icon" href="../static/icone/image.png" >
    <link rel="stylesheet" href="../static/icone/fontawesome/css/all.css">
    <link rel="stylesheet" href="../static/inicial.css">

    <title>Início - SUAP: Sistema Unificado de Administração Pública</title>
</head>
<body>
    <div class="lado">
       <div class="p1">
        <img src="../static/imagens/SUAP-.png" alt="">
        <i class="fa-solid fa-bell fa-1.5xs bell"></i>
       </div>
       <div class="p2">
        <img class="me" src="../static/imagens/x5rqxyj3.bmp" alt="">
        <p>Vitória Silva</p>
        <i class="fa-solid fa-user-large fa-1.5x user"></i>
       </div>
       <div>
        <i class="fa-solid fa-magnifying-glass"></i>
       </div>
       <div>
        <a href="https://suap.ifrn.edu.br/">
            <i class="fa-solid fa-house-chimney"></i> <p>Início</p>
        </a>
        <a href="">
            <i class="fa-solid fa-file-signature"></i> <p> Documentos/Processos</p>
        </a>
        <a href="">
            <i class="fa-solid fa-chalkboard-user"></i> <p>Ensino</p>
        </a>
        <a href="">
            <i class="fa-solid fa-globe"></i> <p>Pesquisa</p>
        </a>
        <a href="">
            <i class="fa-solid fa-suitcase"></i> <p>Extensão</p>
        </a>
        <a href="">
            <i class="fa-solid fa-laptop"></i> <p>Tec. da Informação</p>
        </a>
        <a href="">
            <i class="fa-solid fa-bell-concierge"></i> <p>Central de Serviços</p>
        </a>
        <a href="">
            <i class="fa-solid fa-graduation-cap"></i> <p>Atividades Estudantis</p>
        </a>
        <a href="">
            <i class="fa-solid fa-heart-pulse"></i> <p>Saúde</p>
        </a>
        <a href="">
            <i class="fa-solid fa-comment"></i> <p>Comunicação Social</p>
        </a>
        <a href="">
            <i class="fa-solid fa-chart-column"></i><p>Des. Institucional</p>
        </a>
        <a class="sair" href="./index.html">
            <i class="fa-solid fa-right-from-bracket "></i> <p>Sair</p>
        </a>

        
       </div>
    </div>
    <div class="central">
        <i class="fa-solid fa-circle-exclamation"></i> <p>FIQUE ATENTO!</p>
    </div>
    <div class="quadros">
        <i class="fa-solid fa-pen"></i>
    </div>
</body>
</html>